body {
    align-content: center;
    color: black;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
}

header {
    padding: 20px;
    background-color: #FFED74;
    border: 1px black solid;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

.twocolumn {
    background-color: #FFE2B8;
    margin: 2%;
    padding: 2%;
    width: 42%;
    height: 300px;
    float: left;
}

.left {
    background-color: #FFC675;
    padding: 2%;
    width: 46%;
    float: left;
}

.right {
    background-color: #E89C6C;
    padding: 2%;
    width: 46%;
    float:right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


footer{
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}